################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularTutorial/packages
/AngularTutorial/AngularTutorial/bin
/AngularTutorial/AngularTutorial/obj/Debug
/AngularTutorial/.vs
